body {
    background-color: #f4e8d7;
    padding: 5% 10%;
    overflow-x: hidden;
    margin: 0;
    background-image: url("/assets/aboutUs.png");
    background-repeat: no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    font-family:"Playfair Display SC";
    font-size: 5rem;
    font-weight: bold;
    color: #271e17;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 5rem;
}

.menu-bar button {
    padding: 10px;
    margin: 10px;

    border-style: none;
    border-radius: 20px;
    width: 160px;
    height: 45px;

    color: antiquewhite;

    background-color: #d8ae7e;

    font-size: 1rem;

    cursor: pointer;
    box-shadow: 0.25rem 0.25rem #7a5b38;
}

.menu-bar button:hover {
    background-color: #cee6f3;
    box-shadow: 0.3rem 0.3rem #38637a;
    color: #102c57;
}

.menu-bar button:checked {
    background-color: #cee6f3;
    box-shadow: 0.3rem 0.3rem #38637a;
    color: #102c57;
}
