body {
    background-color: #f4e8d7;
    padding: 5% 10%;
    overflow-x: hidden;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
form {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}

input {
    flex: 1;
    padding: 0.25rem;
    border: none;
    background-color: #dac0a3;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem #7a5b38;
    cursor: pointer;
    color: #102c57;
    text-align: center;
}

button {
    border: none;
    color: white;
    height: 2rem;
    border-radius: 20px;
    background-color: #d8ae7e;
    width: 4rem;
    margin-left: 1rem;
    box-shadow: 0.25rem 0.25rem #7a5b38;
    cursor: pointer;
}