<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addNewBook</title>
    <style>
        .image{
            height: 200px;
            width:300px;
            background: url("/images/1.jpg");
        }
    </style>
</head>
<body>

<div class="structure">
    <form method="post" action="/addNewBook">
        <input type="text" placeholder="Title" name="title" value="{{title}}" required>
        <input type="text" placeholder="Author" name="author" required>
        <input type="number" placeholder="Page Current" name="PagesCurrent" required>
        <input type="number" placeholder="Pages Total" name="PagesTotal" required>

        <select hidden name="url" id="urlSelect"  required>
            <option value="" disabled selected>Select a Cover</option>
            <option  value="images/1.jpg" data-image="images/1.jpg" >Cover 1</option>
            <option value="images/2.jpg" data-image="images/2.jpg" >Cover 2</option>

        </select>

        <img id="exampleImage" class="example-image" >

        <button class="add-new-book" type="submit">Create</button>
    </form>
</div>

<div>
    <img class="imageSelect" src="images/1.jpg">
    <img class="imageSelect" src="images/2.jpg">
</div>

<script>
    document.getElementById('urlSelect').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];
        var imageUrl = selectedOption.getAttribute('data-image');
        var exampleImage = document.getElementById('exampleImage');

        if (imageUrl) {
            exampleImage.src = imageUrl;
            exampleImage.style.display = 'block';
        } else {
            exampleImage.style.display = 'none';
        }
    });

    window.onload = function () {
        const images = document.getElementsByClassName("imageSelect")
        for (let i = 0; i < images.length; i++) {
            images[i].addEventListener("click", function (){
                document.getElementById("urlSelect").value = images[i].getAttribute("src");
            })
        }
    }
</script>
</body>
</html>