<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{#TEST}}
    <title>{{title}}</title>
{{/TEST}}
</head>
<body>



<div>

    {{#TEST}}
    <div class="totalBookView">


                <h3 id="book.title" > {{title}}</h3>
                <p> {{author}}</p>


            <p class="pageCount"> {{pageCurrent}} / {{pagesTotal}}</p>
    </div>
    {{/TEST}}

</div>

<nav>
    <form method="get" action="/dashboard">
        <button class="go-dash-button" type="submit">Bookshelf</button>
    </form>
    <form method="get" action="/quotes">
        <button class="go-quotes-button" type="submit">Quotes</button>
    </form>
    <form method="get" action="/impressum">
        <button class="go-impressum-button" type="submit">Impressum</button>
    </form>
</nav>


</body>
</html>