<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/impressum.css">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="title">New Book</div>
</div>

<nav class="menu-bar">
    <form method="get" action="/dashboard">
        <button class="go-dash-button" type="submit">Bookshelf</button>
    </form>
    <form method="get" action="/quotes">
        <button class="go-quotes-button" type="submit">Quotes</button>
    </form>
    <form method="get" action="/impressum">
        <button class="go-impressum-button" type="submit">Impressum</button>
    </form>
</nav>

</body>
</html>